
<ng-template #loading>
  <div class="alert alert-info text-center">
    Espere, por favor.
  </div>
</ng-template>

<div *ngIf="country; else loading">

    <div class="row">
      <div class="col-12">
        <h2>País: <strong>{{ country.name.common }}</strong></h2>
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="col-4">
        <h3>Bandera</h3>
        <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
      </div>
      <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Población:</strong> {{ country.population | number }}
          </li>
          <li class="list-group-item">
            <strong>Código:</strong> {{ country.cca3 }}
          </li>
          <li class="list-group-item">
            <strong>Capital:</strong> {{ country.capital }}
          </li>
          <li class="list-group-item">
            <strong>Latitud,Longitud.:</strong> {{ country.capitalInfo.latlng }}
          </li>

        </ul>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">

        <h3>Traducciones</h3>

        <div class="d-flex flex-wrap">
          <span class="badge bg-primary m-1" title="Arabe">{{ country.translations['ara'].official }}</span>
          <span class="badge bg-primary m-1" title="Checo">{{ country.translations['ces'].official }}</span>
          <span class="badge bg-primary m-1" title="Galés">{{ country.translations['cym'].official }}</span>
          <span class="badge bg-primary m-1" title="Alemán">{{ country.translations['deu'].official }}</span>
          <span class="badge bg-primary m-1" title="Estonio">{{ country.translations['est'].official }}</span>
          <span class="badge bg-primary m-1" title="Finlandés">{{ country.translations['fin'].official }}</span>
          <span class="badge bg-primary m-1" title="Francés">{{ country.translations['fra'].official }}</span>
          <span class="badge bg-primary m-1" title="Croata">{{ country.translations['hrv'].official }}</span>
          <span class="badge bg-primary m-1" title="Húngaro">{{ country.translations['hun'].official }}</span>
          <span class="badge bg-primary m-1" title="Italiano">{{ country.translations['ita'].official }}</span>
          <span class="badge bg-primary m-1" title="Japonés">{{ country.translations['jpn'].official }}</span>
          <span class="badge bg-primary m-1" title="Coreano">{{ country.translations['kor'].official }}</span>
          <span class="badge bg-primary m-1" title="Neerlandés">{{ country.translations['nld'].official }}</span>
          <span class="badge bg-primary m-1" title="Persa">{{ country.translations['per'].official }}</span>
          <span class="badge bg-primary m-1" title="Polaco">{{ country.translations['pol'].official }}</span>
          <span class="badge bg-primary m-1" title="Portugués">{{ country.translations['por'].official }}</span>
          <span class="badge bg-primary m-1" title="Ruso">{{ country.translations['rus'].official }}</span>
          <span class="badge bg-primary m-1" title="Eslovaco">{{ country.translations['svk'].official }}</span>
          <span class="badge bg-primary m-1" title="Español">{{ country.translations['spa'].official }}</span>
          <span class="badge bg-primary m-1" title="Serbio">{{ country.translations['srp'].official }}</span>
          <span class="badge bg-primary m-1" title="Sueco">{{ country.translations['swe'].official }}</span>
          <span class="badge bg-primary m-1" title="Turco">{{ country.translations['tur'].official }}</span>
          <span class="badge bg-primary m-1" title="Urdu(Pakistan)">{{ country.translations['urd'].official }}</span>
          <span class="badge bg-primary m-1" title="Chino">{{ country.translations['zho'].official }}</span>
        </div>
      </div>
    </div>

</div>
