<h2>Por Región</h2>
<hr>

<!-- <shared-search-box
  (onDebounce)="searchByRegion($event)"
  (onValue)="searchByRegion($event)"
  [placeholder]="'Buscar por región...'" ></shared-search-box> -->
<div class="row">
  <div class="col text-center">
    <!-- SearchBox -->
    <button *ngFor="let region of regions"
      class="btn btn-outline-primary mx-2"
      [ngClass]="{ 'btn-primary text-light': selectedRegion === region, }"
      (click)="searchByRegion( region )"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table *ngIf="!isLoading" [countries]="countries"></countries-table>
  </div>
</div>

<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
