<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  No hay países que mostrar
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; index as i">
        <td>{{ i + 1 }}</td>
        <td class="ps-3 align-middle">
          <img class="icono" [src]="country.flags.svg" [alt]="country.flags.alt">
        </td>
        <td class="ps-3 align-middle">
          <img class="bandera" [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td class="text-end pe-5">{{ country.population | number}}</td>
        <td>
          <!-- <a href="/countries/by/{{ country.cca3 }}">Ver más</a> -->
          <a [routerLink]="[ '/countries/by', country.cca3 ]">+Info</a>
        </td>
      </tr>
    </tbody>
  </table>

</ng-template>
